<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#/">{{ "Frontpage" | translate }}</a></li>
          <li><a ng-show="recipe.id" href="#/recipe/{{ recipe.id }}">{{ "Recipe" | translate }}</a></li>
          <li><a ng-show="recipe.id" ng-click="Delete()">{{ "Delete" | translate }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">

    <img ng-src="{{ temporaryImage || getImage(recipe, false) }}" class="recipe-image hidden-phone" style="cursor: pointer;" ng-click="uploadFile()" />
    <input type="file" name="image" style="display: none;" />

    <h2 ng-show="recipe.id">{{ "Edit recipe" | translate }}</h2>
    <h2 ng-hide="recipe.id">{{ "New recipe" | translate }}</h2>

    <form name="recipeForm" class="form-horizontal">

      <div class="control-group">
        <label class="control-label" for="inputName">{{ "Name" | translate }}</label>
        <div class="controls">
          <input type="text" name="name" ng-model="recipe.name" style="width: 400px;" />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputTags">{{ "Tags" | translate }}</label>
        <div class="controls">
          <div style="width: 400px;">
            <span ng-repeat="tag in recipe.tags">
                <input type="hidden" name="tag_id" ng-model="tag.id" />
                <input style="width: 100px;" type="text" name="tag_name" placeholder="{{ 'Add tag...' | translate }}" ng-model="tag.name" ng-change="ensureEmptyInput('tags', ['name'], '[name=tag_name]');ensureCapitalized(tag, 'name')" auto-complete ui-autocomplete-url="/api/tag/"/>
            </span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputPersons">{{ "Persons" | translate }}</label>
        <div class="controls">
            <input type="number" name="persons" require-number ng-model="recipe.persons" style="width: 50px;" maxlength="3" />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputTime">{{ "Time" | translate }}</label>
        <div class="controls">
          <div ng-repeat="timing in recipe.timings">
              <input type="hidden" name="timing_id" ng-model="timing.id" />
              <input type="text" name="timing_description" ng-change="ensureEmptyInput('timings', ['minutes', 'description'], '[name=timing_description]');ensureCapitalized(timing, 'description')" ng-model="timing.description" auto-complete ui-autocomplete-url="/api/timing/" />:
              <input type="number" name="timing_minutes" class="only-numbers" maxlength="3" style="width: 40px;" require-number ng-change="ensureEmptyInput('timings', ['minutes', 'description'], '[name=timing_description]')" ng-model="timing.minutes" /> {{ "minutes" | translate }}<br />
          </div>
          {{ "Total" | translate }}: {{ recipe.total_time() }} {{ "minutes" | translate }}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputIngredients">{{ "Ingredients" | translate }}</label>
        <div class="controls">
          <div ng-repeat="ingredient in recipe.ingredients">
              <input type="hidden" name="ingredient_id" ng-model="ingredient.id" />
              {{ "Amount" | translate }} <input type="text" name="ingredient_amount" style="width: 70px;" ng-change="ensureEmptyInput('ingredients', ['amount', 'name'], '[name=ingredient_amount]');" ng-model="ingredient.amount" />
              {{ "of" | translate }} <input type="text" name="ingredient_name" ng-change="ensureEmptyInput('ingredients', ['amount', 'name'], '[name=ingredient_amount]');ensureCapitalized(ingredient, 'name')" ng-model="ingredient.name" auto-complete ui-autocomplete-url="/api/ingredient/" />
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputRecipe">{{ "Recipe" | translate }}</label>
        <div class="controls">
          <textarea cols="50" rows="7" name="recipe" ng-model="recipe.recipe"></textarea>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputGarniture">{{ "Garniture" | translate }}</label>
        <div class="controls">
          <textarea cols="50" rows="3" name="garniture" ng-model="recipe.garniture"></textarea>
          <br />
          <b>{{ "Other recipes" | translate }}:</b><br />
          <div ng-repeat="garniture in garnitures">{{ garniture.name || garniture.label }} (<a ng-click="garnitures.splice($index, 1)">{{ "remove" | translate }}</a>)</div>
          <input type="text" name="reference_recipes" auto-complete ui-autocomplete-url="/api/garniture-recipes/" ui-autocomplete-add="garnitures" />
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input type="button" ng-click="Save()" value="{{ 'Save' | translate }}" />
        </div>
      </div>

    </form>

</div>
