<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#/">{{ "Recipes" | translate }}</a>
      <ul class="nav">
        <li><a href="#/add">{{ "Add" | translate }}</a></li>
      </ul>
      <form class="navbar-form pull-right">
        <input type="text" id="filter" placeholder="{{ 'Filter...' | translate }}" autofocus="autofocus" ng-model="root.filter" ng-change="groupRecipes()" />
      </form>
    </div>
  </div>
</div>

<div class="container">

  <div class="row" ng-repeat="group in groupedRecipes">
    <div ng-repeat="recipe in group" ng-show="matchesFilter(recipe)" class="span4 recipe">
      <div class="thumbnail">
        <div ng-show="recipe.favorite" class="star" title="{{ 'Favorite' | translate }}"></div>
        <div ng-hide="recipe.has_tried" class="untried" title="{{ 'Not tried' | translate }}"></div>
        <a class="" href="#/recipe/{{ recipe.id }}"
          data-total-time="{{ recipe.total_time() }}"
          ng-style="getImage(recipe)"
        >
        </a>
        <div class="name-streamer">
          <div class="background"></div>
          <div class="name">{{ recipe.name }}</div>
        </div>
      </div>
    </div>
  </div>

</div>
