<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><a href="#/">{{ "Frontpage" | translate }}</a></li>
        <li><a href="#/recipe/{{ recipe.id }}/edit">{{ "Edit" | translate }}</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a ng-click="toggleFavorite()" style="font-size: 10px;">
          <span ng-hide="recipe.favorite">{{ "Not favorite" | translate }}</span>
          <span ng-show="recipe.favorite" class="text-success">{{ "Favorite" | translate }}</span>
        </a></li>
        <li><a ng-click="toggleTried()" style="font-size: 10px;">
          <span ng-hide="recipe.has_tried" class="text-error">{{ "Not tried" | translate }}</span>
          <span ng-show="recipe.has_tried" class="text-success">{{ "Tried" | translate }}</span>
        </a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">

    <img ng-show="recipe.image" ng-src="{{ getImage(recipe, false) }}" class="recipe-image visible-desktop" />

    <div class="page-header">
      <h1>
        {{ recipe.name }}
        <small ng-show="recipe.tags" style="position: relative; top: -3px;">
          <span ng-repeat="tag in recipe.tags" class="badge badge-info" style="margin-right: 2px;">{{ tag.name }}</span>
        </small>
      </h1>
    </div>


    <div ng-show="recipe.persons">
      <b>{{ "Persons" | translate }}:</b> {{ recipe.persons }}<br />
    </div>

    <div ng-show="recipe.timings">
      <b>{{ "Time" | translate }}:</b> ({{ "total" | translate }}: <b>{{ recipe.total_time() }}</b> {{ "minutes" | translate }})<br />
      <div ng-repeat="timing in recipe.timings">
        {{ timing.description }}: {{ timing.minutes }} {{ "minutes" | translate }}
      </div>
    </div>

    <div ng-show="recipe.ingredients">
      <h3>{{ "Ingredients" | translate }}</h3>
      <div ng-repeat="ingredient in recipe.ingredients">{{ ingredient.amount }} {{ ingredient.name }}</div>
    </div>

    <div ng-show="recipe.recipe">
      <h3>{{ "Recipe" | translate }}</h3>
      <pre>{{ recipe.recipe }}</pre>
    </div>

    <div ng-show="recipe.garniture || garnitures">
      <h3>{{ "Garniture" | translate }}</h3>
      <pre>{{ recipe.garniture }}</pre>
      <div ng-repeat="garniture in garnitures">
        <a href="#/recipe/{{ garniture.id }}">{{ garniture.name }}</a>
      </div>
    </div>

    <br />
    <div ng-show="as_garniture">
      <h4>{{ "Can be used for" | translate }}</h4>
      <div ng-repeat="garniture in as_garniture">
        <a href="#/recipe/{{ garniture.id }}">{{ garniture.name }}</a>
      </div>
    </div>

</div>
