<html ng-app="Recipes">
    <head>
        <title>Recipes</title>
        <link rel="stylesheet" href="/static/css/main.css" type="text/css" /> 
        <link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.8.13.custom.css" type="text/css" /> 
        <script type="text/javascript" src="/static/lib/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/static/lib/jquery-ui-1.8.13.custom.min.js"></script>
        <!--
        <script type="text/javascript" src="/static/js/main.js"></script>
        -->
    </head>
    <body>

        <div id="container" ng-view> </div>

        <script type="text/javascript" src="/static/lib/angular.js"></script>
        <script type="text/javascript" src="/static/lib/angular-resource.js"></script>

        <script type="text/javascript" src="/static/js/app.js"></script>
        <script type="text/javascript" src="/static/js/services.js"></script>
        <script type="text/javascript" src="/static/js/controllers.js"></script>
        <script type="text/javascript" src="/static/js/directives.js"></script>
    </body>
</html>

