{% extends "base.html" %}

{% block actions %}

    <script type="text/javascript">
        $(function() {
            $('#actions img').on('click', function() {
                $('div#upload-picture').toggle();
            });
        });
    </script>

    <img src="/static/images/{% if recipe.image %}{{ recipe.image }}{% else %}no-picture.png{% endif %}" class="{{ recipe.image_orientation }}" />
    <div id="upload-picture" style="display: none;">
        <form method="POST" action="" enctype="multipart/form-data">
            <input type="file" name="file" style="width: 198px;" /><br />
            <input type="radio" {% if recipe.image_orientation == 'horizontal' %}checked="checked" {% endif %}name="orientation" value="horizontal" id="orientation-horizontal" /><label for="orientation-horizontal">Horizontal</label><br />
            <input type="radio" {% if recipe.image_orientation == 'vertical' %}checked="checked" {% endif %}name="orientation" value="vertical" id="orientation-vertical" /><label for="orientation-vertical">Vertikal</label><br />
            <input type="submit" value="Sæt" />
        </form>
    </div>
{% endblock %}

{% block navigation %}
    <a href="/">Tilbage</a>
    <a href="/recipe/{{ recipe.id }}/edit">Redigér</a>
{% endblock %}

{% block contents %}
    <h1>{{ recipe.name }}</h1>
    {% if recipe.tags %}
    <small>{% for tag in recipe.tags %}{{ tag.name }}{% if not loop.last %}, {% endif %}{% endfor %}</small><br /><br />
    {% endif %}

    <h2>Information</h2>
    <b>Antal personer:</b> {{ recipe.persons }}<br />
    <b>Tid:</b> (samlet: <b>{{ recipe.total_time() }}</b> minutter)<br />
    {% for timing in recipe.timings %}
        {{ timing.description }}: {{ timing.minutes }} minutter<br />
    {% endfor %}
    <br />

    <h2>Ingredienser</h2>
    {% for ingredient in recipe.ingredients %}
        {{ ingredient.amount }} {{ ingredient.name }}<br />
    {% endfor %}
    <br />

    <h2>Opskrift</h2>
    {{ recipe.recipe }}<br /><br />

    <h2>Tilbehør</h2>
    {{ recipe.garniture }}<br /><br />

{% endblock %}
